* {
    margin: 0%;
    padding: 0%;
}

header {
    background: #493d3fa8;
    display: flex;
}

div{
    padding: 8px;
}

.d1 {
    /*flex-grow: 2;*/
    flex: auto;
}

.d2{
/* margin-left:auto; */
flex: content;
} 

.d3{
    display: flex;
}

.dropdown{
    flex: auto;
}

button {
    align-items: stretch;

}

body{
    background: #e4bf69;
}

.d-block {
    height: 500px;
    object-fit: contain;
}